* {
  font-family: 'Indie Flower';
  letter-spacing: 2px;
}

.question-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.question-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 500px;
  background-color: rgb(0, 255, 55, .5);
  border-radius: 20px;
  margin: -5px 10px;
}

.question-text {
  font-size: 120%;
  text-align: center;
  padding: 10px;
  color: #ffeb3b;
}

.possible-answer {
  width: 250px;
  padding: 3px;
  margin: 5px;
  background-color: #FFF;
  height: 28px;
  border-radius: 20px;
  text-align: center;
  border: none;
  font-size: 100%;
}

.possible-answer:hover {
  cursor: pointer;
  background-color: #bfbfbf;
}

.buttons-container {
  display: flex;
}

.next-button,
.submit-button {
  height: 30px;
  width: 70px;
  margin: 10px;
  border: none;
  border-radius: 15px;
  background-color: #4eff74;
}

.next-button {
  background-color: #f0ff00;
}

.next-button:hover,
.submit-button:hover {
  cursor: pointer;
}

.selected {
  color: red;
}

.correct {
  background-color: #4eff74;
}

.incorrect {
  background-color: #ef4646;
}

.disabled {
  pointer-events: none;
}

@media only screen and (max-width: 550px) {

  .question-container {
    width: auto;
  }

}
