* {
  margin: 0px;
}

.header-container {
  height: auto;
  width: 100%;
  text-align: center;
}

.header-text {
  color: #FFF;
  padding: 5px;
}

.title {
  color: #ffeb3b;
  padding-top: 20px;
  font-size: 250%;
  text-transform: uppercase;
}

.view-rules-button {
  background-color: rgb(0, 0, 0, 0);
  border: none;
  color: #FFF;
  text-decoration: underline;
}

.view-rules-button:hover {
  cursor: pointer;
}
