* {
  margin: 0px;
}

.header-container {
  height: auto;
  width: 100%;
  text-align: center;
}

.header-text {
  color: #FFF;
  padding: 5px;
}

.title {
  color: #ffeb3b;
  padding-top: 20px;
  font-size: 250%;
  text-transform: uppercase;
}
