* {
  margin: 0px;
}

.header-container {
  height: auto;
  width: 100%;
  background-color: #424242;
  text-align: center;
}

.question-counter {
  color: #FFF;
  padding: 10px;
}

.title {
  color: #FFF;
  padding: 5px;
}
