.question-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-container {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  width: 500px;
  border: 2px dotted #000;
}

.possible-answer {
  border: 2px solid #000;
  width: 250px;
  padding: 3px;
  margin: 3px;
}

.possible-answer:hover {
  cursor: pointer;
  border: 2px solid #ff00b1;
}

.buttons-container {
  display: flex;
}

.next-button,
.submit-button {
  height: 30px;
  width: 60px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #4eff74;
}

.next-button {
  background-color: #ff00b1;
}

.next-button:hover,
.submit-button:hover {
  cursor: pointer;
}

.selected {
  background-color: #cecece;
}

.correct {
  background-color: #4eff74;
}

.incorrect {
  background-color: red;
}
